!!!5
/ [if lt IE 7 ]
  %html.ie.ie6{ lang: I18n.locale }
/ [if IE 7 ]
  %html.ie.ie7{ lang: I18n.locale }
/ [if IE 8 ]
  %html.ie.ie8{ lang: I18n.locale }
/ [if IE 9 ]
  %html.ie.ie9{ lang: I18n.locale }
/ [if gt IE 9]
  %html{ lang: I18n.locale }

%head
  %meta{ :charset => "utf-8" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title Plastic Scrap Market
  = csrf_meta_tags
  = stylesheet_link_tag 'now-loading', media: 'all'
  - if logged_in?
    :javascript
      window.RawCurrentUserSession = #{current_user.log_ip!(request.ip).to_json};

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58279929-1', 'auto');
    ga('send', 'pageview');



%body#apiv1
  = yield
  = stylesheet_link_tag 'application', media: 'all', async: true
  = javascript_include_tag "leaflet"
  = javascript_include_tag "application"