!!!5
/ [if lt IE 7 ]
  %html.ie.ie6{ lang: I18n.locale }
/ [if IE 7 ]
  %html.ie.ie7{ lang: I18n.locale }
/ [if IE 8 ]
  %html.ie.ie8{ lang: I18n.locale }
/ [if IE 9 ]
  %html.ie.ie9{ lang: I18n.locale }
/ [if gt IE 9]
  %html{ lang: I18n.locale }

%head
  %meta{ :charset => "utf-8" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title Plastic Scrap Market
  = csrf_meta_tags
  = stylesheet_link_tag 'now-loading', media: 'all'
  - if logged_in?
    :javascript
      window.RawCurrentUserSession = #{current_user.log_ip!(request.ip).to_json};

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-58279929-1']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


%body#apiv1
  = yield
  = stylesheet_link_tag 'application', media: 'all', async: true
  = javascript_include_tag "leaflet"
  = javascript_include_tag "application"